/* nav relative style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
}
.pirmary-text{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-pirmary{
border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
padding: 15px 35px;
}